/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow-animation {
  from {
    left: -13px;
  }
  to {
    left: -17px;
  }
}

@keyframes sparkling {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes heartbeating {
  0% {
    scale: 1; 
  }

  50% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

.like-icon .core {
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}



.like-icon:hover .core {
  transition: fill 0.1s linear;
}

.like-icon:hover .main-body {
  transition: fill 0.1s linear 0.03s;
}

.like-icon:active .core {
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  transition: fill  0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  transition: fill  0.3s linear;
}

.like-icon.is-liked .main-body {
  transition: fill  0.3s linear 0.05s;
}

.like-icon.is-liked .sparks {
  animation: sparkling 0.3s ease-in 0.3s alternate;
}

.like-icon.is-liked .heart {
  animation-name: heartbeating;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  transform-origin: center;
  animation-direction: alternate;
}
