/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-font, sans-serif);
  }
}

.page {
  font-family: var(--main-font, sans-serif);
  background-color: var(--background-color);
  background-image:
    repeating-linear-gradient(to right, var(--background-gradient-one) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, var(--background-gradient-one) 0 2px, transparent 2px 4px),
    linear-gradient(var(--background-gradient-two-start) 0%, var(--background-gradient-two-end) 100%);
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 
  'wght' var(--card-text-font-weight);
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 102px;
  margin-block-start: 100px;
  margin-block-end: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(7.5rem, 6.5rem + 3.2vw, 8.5rem);
  padding-block-end: 20px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: var(--background-color);
  inline-size: clamp(23.438rem, 3.375rem + 64.2vw, 43.5rem);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 4px;
}

.theme-menu__button {
  position: relative;
  margin-inline-start: 14px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: inherit;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled, 
.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:hover {
  cursor: pointer;
}
.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: -5px;
  left: -13px;
  font-size: 16px;
  animation: arrow-animation 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.main__card {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--main-font);
  background-color: var(--background-color);
  inline-size: clamp(23.438rem, 3.375rem + 64.2vw, 43.5rem);
}

.card__title {
  border-bottom: 2px solid var(--accent-color);
  padding: 2px 5px 6px 8px;
  font-size: 18px;
  font-variation-settings: 
  'wght' var(--card-title-font-weight);
}

.card__image-wrapper {
  position: relative;
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.image__filter-grayscale {
  filter: grayscale(0.7);
}

.image__filter-saturate {
  filter: saturate(400%);
}

.image__filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.image__filter-invert {
  filter: invert(0.8);
}

.image__filter-sepia {
  filter: sepia(100%);
}


.image__filter-blur {
  filter: blur(1.25rem);
}

.image__filter-multiply {
  filter: 
    blur(0.1rem)
    hue-rotate(75deg)
    opacity(0.5);
}

.image__label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow:
    -1px 0 var(--background-color), 
    0 1px var(--background-color), 
    1px 0 var(--background-color), 
    0 -1px var(--background-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--background-color)) 
or (-webkit-text-stroke: 1px var(--background-color))) {
  .image__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-top: 2px solid var(--accent-color);
  padding: 30px 25px 25px;
}

.card__text {
  font-size: 18px;
  line-height: 1.16667;
}

.card__button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px 25px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--accent-font, sans-serif);
  background-color: var(--background-color);
  cursor: pointer;
}

.card__icon-button {
  border: none;
  background-color: var(--background-color);
  
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.like-icon .contour {
  fill: var(--accent-color);
}
 
.like-icon .core {
  fill: var(--background-color);
}
 
.like-icon .main-body {
  fill: var(--background-color);
}

.like-icon .sparks {
  fill: var(--background-color);
}
 
.like-icon:hover .core {
  fill: var(--accent-color);
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
}

.like-icon:active .core {
  fill: red;
}

.like-icon:active .main-body {
  fill: red;
}

.like-icon.is-liked .contour {
  fill: red;
}

.like-icon.is-liked .core {
  fill: red;
}

.like-icon.is-liked .main-body {
  fill: red;
}

.like-icon.is-liked .sparks {
  opacity: 0%;
  fill: red;
}

.like-icon.is-liked .heart {
  scale: 1;
}

.card__like-button {
  width: 130px;
}

.button-decor {
  box-shadow: none;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transition-timing-function: ease;
}

.button-decor:focus {
  box-shadow: 2px 2px var(--accent-color, #000);
  outline: none;
}

.button-decor::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: var(--accent-color,);
  transition-duration: 0.5s;
  transition-property: width;
  transition-timing-function: ease-in-out;
}

.button-decor:hover::before {
  width: 100%;
}

.button__text {
  border: none;
  color: var(--accent-color);
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 21px;
  background-color: var(--background-color);
}

.inverse {
  color: var(--accent-inverse-color);
  background-color: #000;
  mix-blend-mode: difference;
}

.button__save-wrapper {
  align-self: center;
}

.button__save {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 15px 21px 15px 19px;
}

.button__save-floppy-icon {
  block-size: 21px;
  inline-size: 21px;
}

.dialog {
  border: 2px solid var(--accent-color);
  padding: 30px;
  background-color: var(--background-color);
  inline-size: clamp(21.313rem, 20.563rem + 2.4vw, 22.063rem);
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.form__save {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  text-transform: uppercase;
}

.form__content-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-floppy-icon {
  block-size: 39px;
  inline-size: 39px;
}

.save__text {
  max-width: 220px;
}

.button__dialog-wrapper {
  position: relative;
  width: 100%;
}

.button__dialog {
  width: 100%;
  height: 38px;
  text-transform: uppercase;
}

@media screen and (width <= 375px) {
  .header {
    padding-block-end: 19px;
  }

  .header, .main__card {
    inline-size: 100vw;
  }

  .card__title {
    padding: 4px 6px 4px 10px;
  }

  .image__label {
    top: 25px;
    right: 11px;
  }

  .card__text-wrapper {
    padding: 25px;
  }

  .button__save {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 13px 21px 8px 19px;
  }

  .button__save-floppy-icon {
    block-size: 28px;
    inline-size: 28px;
  }
}